@charset"UTF-8";

*{
    margin: auto;
}
.d1{
    background-color: papayawhip;
    height: 200px;
    width: 200px;
    border-radius: 0.5em;
    border-style: dashed;
    text-align: center;


}

.d2{
    background-color: aqua;
    height: 300px;
    width: 80%;
    border-radius: 0.5em;
    border-style: dashed;
    text-align: center;
    margin-top: 20px;


}
div:hover{
    background-color: rgb(41, 28, 41);
}

a{
    border-style: dashed;
}