@charset"UTF-8";
*{
    /* height: 100%; */
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right, #3C9496, #99FCFF, #71E0E3);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3c94969c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
color: #995227;
text-align: center;
text-shadow: 1px 1px 2px #6e3b1cb7;
}
h2{
color: #E39D71;
}